/*
 * Общие стили для кнопок
 */


@import "../variables/colors";
@import "../mixins/text";

.button {
  @include bold-text;
  padding: 5px 20px;

  color: $color-text-dark;
  background-color: $color-beige;
  border: 3px solid $color-orange;
  border-radius: 15px;

  &:disabled {
    color: $color-text-grey;
    border: 4px solid lighten($color-orange, 15%);
  }

  &:hover {
    color: $color-orange;
  }
}
